<!DOCTYPE html>
<html>
  <head>
	<style type="text/css">
	#mclogo {
		font-family:Menlo,Courier;
		font-size:14px;
		background:none;
		background-color:transparent;
		color:#303030;
	}
	</style>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://jamesghurley.github.io/mobcrush/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://jamesghurley.github.io/mobcrush/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://jamesghurley.github.io/mobcrush/stylesheets/print.css" media="print" />
    
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>mobcrush by jamesghurley</title>
    
	<script type="text/javascript">
	function trackOutboundLink(link, category, action) { 
 
		try { 
			_gaq.push(['_trackEvent', category , action]); 
		} catch(err){}
 
		setTimeout(function() {
			document.location.href = link.href;
		}, 100);
	}
	</script>

  </head>

  <body>
    <div id="container">
      <div class="inner">
<div style="text-align:center;">
        <header>
	
          	 <pre id="mclogo">          
           _                   _   
 _____ ___| |_ ___ ___ _ _ ___| |_ 
|     | . | . |  _|  _| | |_ -|   |
'-'-'-'---'---'---'-' '---'---'-'-'
	</pre>
          <h2>An iOS library for live game broadcasting</h2>
        </header>

        <section id="downloads" class="clearfix" style="width:33%; margin: 0 auto;text-align:left;">
          <a href="https://bitbucket.org/jgh/mobcrush_pub/downloads/mobcrush-0.3a5.zip"  onClick="trackOutboundLink(this, 'Outbound Links', 'Download');" id="download-zip" class="button"><span>Download .zip</span></a>
        </section>
</div>
        <hr>

        <section id="main_content">
         

<p>MobCrush will capture your iOS game's audio and video and stream to RTMP-based services such as Twitch.tv, uStream.tv, and Livestream.
	Contact <a href="mailto:james@mobcrush.com">james@mobcrush.com</a> for more information. 
	<div style="text-align:center;"><a href="https://twitter.com/mobcrush" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @mobcrush for updates!</a></div>
</p>
        </section>
        <div style="text-align:center;">
        <iframe width="525" height="375" src="//www.youtube.com/embed/zqAnIzAXZCs" frameborder="0" allowfullscreen></iframe>
        </div>
    <section id="usage">
      <h2>Usage</h2>
      <p>Mobcrush will automatically capture OpenGL ES framebuffers and audio data, and output h.264 Main Profile video (level is selected based on stream settings), 
      and 44.1k Stereo 128kbps AAC audio.  For best performance, use 44.1k 16-bit stereo audio samples.  Other formats will be resampled to be mixed and encoded.</p>
      <p>[todo: add library requirements: -lc++, OpenGLES, CoreVideo, AVFoundation, AudioToolbox, QuartzCore]</p>
      <pre><code>
[MobCrush start]; // start mobcrush
            
// To connect to an RTMP server...
[MobCrush connectWithSettings:@{MCVideoBitrateKey:@(500000),
                                MCVideoWidthKey: @([UIScreen mainScreen].bounds.size.height),
                                MCVideoHeightKey: @([UIScreen mainScreen].bounds.size.width),
                                MCVideoFramerateKey: @(30),
                                MCRTMPServerStreamKey: _sTwitchStreamKey, // Twitch.tv stream eky
                                MCRTMPServerURIKey: @"rtmp://live-lax.twitch.tv:1935/app"}
                            error:&error];
      </code></pre>
    </section>
    <div style="text-alignment:center;">
    	
    	
    </div>
	<section id="version_history">
		{{ content }}
		</section>
        <footer>
          mobcrush is maintained by <a href="https://github.com/jamesghurley">jamesghurley</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>

                  <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-19184855-2");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

      </div>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
